.homepageContainer {
  width: 100%;
  height: 100vh;
  /* border:plum 5px solid; */
  background-color: #1A1A00;
  color: white;


  /* margin-top: 150px; */
}

.homepageContainer h1 {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  background-color: #1A1A00;
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  font-size: 38px;
}

.allImgsContainer {
  /* border:blue solid 3px; */
  background-color: #1A1A00;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.singleImg {
  /* border: blue 3px solid; */
  width: 300px;
  height: 300px;
  padding: 15px;
  border-radius: 10px;
  ;
}


.hover-img {
  background-color: #1A1A00;
  color: #fff;
  display: inline-block;
  margin: 8px;
  max-width: 320px;
  min-width: 240px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}

.hover-img * {
  box-sizing: border-box;
  transition: all 0.45s ease;
  word-wrap: break-word;
}

.hover-img:before,
.hover-img:after {
  background-color: #1A1A00;
  border-top: 32px solid #1A1A00;
  border-bottom: 32px solid #1A1A00;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
  word-wrap: break-word;
}

.hover-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
  word-wrap: break-word;
}

.hover-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  word-wrap: break-word;
}

figcaption {
  height: 300px;
  word-wrap: break-word;
  overflow: auto;
  overflow-y: auto;
}

figcaption::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

figcaption::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

figcaption::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}

.hover-img:hover:before,
.hover-img:hover:after {
  transform: scale(1);
  opacity: 1;
  word-wrap: break-word;
}

.hover-img:hover>img {
  opacity: 0.7;
}

.hover-img:hover figcaption {
  opacity: 1;
}

/* .searchNav{
  border:blue 2px solid;
} */

.imageCreator1 {
  word-wrap: break-word;
}
