.image1{
    width:300px;
    height: 300px;
}

.display-comment1:hover .comment-select-button {
    background-color: #f8f9fa;
    opacity: 1;
}

.display-comment1:hover {
    background-color: #f8f9fa;
}

.comment-select-button {
    opacity: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
