.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    /* width: 300px;
    height: 300px; */
}

.imgDisplayContainer{
    padding-bottom: 10rem;
    /* border: 3px red solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgInfoContainer1 {
    /* border: 3px blue solid; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    margin: 0;
    padding-bottom: 4rem;
    /* overflow: hidden; */
    background-color: #2b2d32;
    ;
}

.backtoexplore{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor:pointer;
    color:white;
    /* border:red solid 3px; */
    margin:0;
    padding-top: 15px;;
    padding-left: 15px;;
    font-family: 'Roboto', sans-serif;
}

.imgInfoContainer2 {
    /* height: 45vh; */
    /* border:3px red solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width:1000px;
    height:600px;


}

.imgContent1 {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

h2#heading {
    font-size: 35px;
    font-family: 'Pacifico', cursive;
}

.heading-1 {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    /* background: linear-gradient(#70D6FF, #00072D); */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 32px;
}

.image1 {
    height: 100%;
    width: 100%;
}

.userBtnContainer {
    /* height:8%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width:100%;
    /* border: 3px yellow solid; */
    color: white;

}

.imgBtnContainer {
    width: 15%;
    /* height:80%; */
    /* border: 3px blue solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.editImgSymbol,
.deleteImgSymbol {
    cursor: pointer;
    /* border: 3px pink solid; */
    height: 80%;
    width: 80%;

}

.fa-pen-to-square,
.fa-trash-can {
    font-size: 23px;

}

.favesContainer {
    /* border: 3px blue solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fa-heart {
    margin: 14px;
    font-size: 23px;

}

.commentinfo2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.userPic1 {
    /* font-size: 23px; */
    /* border: 3px blue solid; */
    width: 30%;
}

.userPic1-3{
 padding:1.5rem;
 margin-left: 40%;;
}

#headPic {
    width: 5rem;
    height: 5rem;
    /* border: 3px blue solid; */
    margin-left: 58%;
    margin-top: 1.3rem;
    /* display:flex;
    justify-content: flex-end;
    align-content: center; */
}

#headPic2 {
    width: 2.2rem;
    height: 2.5rem;
    /* border: 3px red solid; */
    margin-top: 4rem;
    margin-left: 85%;
}

#headPic3 {
    width: 2.2rem;
    height: 2.5rem;
    margin-left: 80%;
    margin-top: 1rem;

}

.userPic1-2 {
    /* border: 3px blue solid; */
    margin-right:8rem;
    width: 70%;
    margin-left: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;


}

.addCommentsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.userPic2 {
    width: 12%;
    height: 6rem;
    /* border: 3px yellow solid; */
    margin-left: 0;
}

.addCommentForm1 {
    /* border: 3px red solid; */
    justify-content: center;
    width: 70%;
    height: 18rem;


}

.addCommentForm2 {
    /* border: 3px purple solid; */
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.addCommentInput {
    font-family: 'Roboto', sans-serif;
    border-radius: 1rem;
    margin-top: 8px;
    margin-left: 0;
    width: 88%;
    height: 60%;
    font-size: 18px;
    border: solid transparent 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;

}




.contentlabel{
    margin-left: 1.6rem;;
}
.descriptionlabel{
    padding-top: 10px;;
    /* border:black 2px solid; */
}

.editImgBtnContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.editImgBtn3{
    border: 0;
    color: white;
    height: 1.5rem;
    width: 5rem;
    /* margin-left: 39%; */
    margin-top: 1rem;
    border-radius: .8rem;
    background-image: linear-gradient(83.2deg, rgba(150, 93, 233, 1) 10.8%, rgba(99, 88, 238, 1) 94.3%);

}


.editImgContainer{
    /* border:blue 2px solid; */
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editImgForm{
    padding:15px;
    /* border:pink 5px solid; */
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editimgcontent{
    font-family: 'Roboto', sans-serif;
    width:15rem;
    margin: 10px;;
    height:2rem;
    border-radius: .6rem;
    border: solid transparent 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.editimgDescription{
    font-family: 'Roboto', sans-serif;
    width:15rem;
    margin: 10px;;
    height:4rem;
    border-radius: .6rem;
    border: solid transparent 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 7.6px;
}

.editimgdescription2{
    display:flex;
    flex-direction: row;;
}

.editimgDescription::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 5px;
}

.editimgDescription::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.editimgDescription::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 5px;
}







.addCommentInput::-webkit-scrollbar {
    border: 0;
    width: 10px;
    height: 7px;
    border-radius: 5px;
}

.addCommentInput::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0.1, 0.39);
    border-radius: 5px;
}

.addCommentInput::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0.1, 0.178);
    border-radius: 5px;
}




.addCommentBtn {
    font-size: 16px;;
    border: 0;
    color: white;
    height: 3.5rem;
    width: 8rem;
    margin-left: 39%;
    margin-top: 1rem;
    border-radius: .8rem;
    background-image: linear-gradient(83.2deg, rgba(150, 93, 233, 1) 10.8%, rgba(99, 88, 238, 1) 94.3%);
}

/* .imgInfoContainer {
    padding-bottom: 10rem;
    padding-right: 6rem;
    height: 100%;
    border: 5px green solid;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);

} */

/* .displayCommentsContainer2{
    border: 5px black solid;
} */

.allCommentContainer {

    display: flex;
    flex-direction: row;
}

.commentCardLeft {
    /* border: 5px red solid; */
    width: 18%;
}

.commentCardRight {
    /* border: 5px orange solid; */
    border-bottom:black 1px solid;
    width: 72%;
    height:12rem;
    margin-left:2rem;;
    /* margin-left:1.5rem; */
}

.commentUsername {
    /* border: 5px orange solid; */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left:20px;
    /* margin-bottom: 3rem; */

}

.editCommentSymbolContainer {
    /* border: 3px purple solid; */
    display: flex;
    flex-direction: row;

}

.display-comment1 {
    /* border: 3px purple solid; */
    height: 6rem;;

}

.single-comment-ele {
    /* border: green solid 2px; */
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;;
}

.edticommentBtn-2{
    /* margin-top: 0.5rem;; */
    border: 0;
    color:white;
    border-radius: .8rem;
    background-image: linear-gradient(83.2deg, rgba(150, 93, 233, 1) 10.8%, rgba(99, 88, 238, 1) 94.3%);
    height:2rem;
}
/* .displayCommentsContainer1 {
    border:red 5px solid;
    overflow: hidden;
    overflow-y: auto;
}

.imgCommentsContainer {
    border:5px black solid;
    overflow: hidden;
    overflow-y: auto;
} */

.comment-3{
    /* border: 5px green solid; */
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height:4rem;
}




.editcmmtInput{
    /* border: 3px red solid; */
    width:100%;

    height: 3rem;;
}

.editcmmtInput::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 3px;
}

.editcmmtInput::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0.1, 0.39);
    border-radius: 3px;
}

.editcmmtInput::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0.1, 0.178);
    border-radius: 4px;
}



.display-comment1:hover .comment-select-button {
    background-color: #f8f9fa;
    opacity: 1;
}

.display-comment1:hover {
    background-color: #f8f9fa;
}

.comment-select-button {
    /* border:pink solid 3px; */
    opacity: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.singleimghalf{
    /* border: green solid 5px; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:100%;
}

.singleimghalf-1{
    /* border: yellow solid 5px; */
    width:1000px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
}

/* .descriptionContainer{
    display: flex;
    border: yellow solid 5px;
    /* height: 10rem; */
    /* width:100%;
    overflow: auto;
    overflow-y: auto;
    overflow-x: auto; */
    /* overflow: auto; */
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px; */
/* }

.descriptionContainer::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 4px;
}

.descriptionContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.descriptionContainer::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 4px;
}
.commentcontent{
    border: black solid 3px;
    word-wrap: break-word;
    width: 80%;
    height:5.5rem;
    overflow: auto;
    overflow-y: auto;

} */

.descriptionContainer{
    display: flex;
    /* border: yellow solid 5px; */
    /* word-wrap: break-word; */
    height:5rem;
    /* overflow: auto;
    overflow-x: auto; */

    overflow-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: break-all;
    /* height: 10rem; */
    /* width:100%;
    overflow: auto;
    overflow-y: auto;
    overflow-x: auto; */
    /* overflow: auto; */
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px; */
}

.descriptionContainer::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 4px;
}

.descriptionContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.descriptionContainer::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 4px;
}

.commentcontent{
    /* border: black solid 3px; */
    word-wrap: break-word;
    width: 80%;
    height:4.3rem;
    overflow: auto;
    overflow-y: auto;

}

.commentcontent::-webkit-scrollbar {
    /* display: none; */
    width: 8px;
    height: 8px;
    border-radius: 4px;
}

.commentcontent::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.commentcontent::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 4px;
}

.imgInfoContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: grey solid 0.3px;
}


.favesContainer {
    /* border: blue 3px solid; */
    width: 900px;
    font-family: 'Roboto', sans-serif;

}

.totalFave{
    font-size: 18px;
}

.fa-heart{
    margin-top: 16px;;
}

.userPic1-2 p{
    font-size: 15px;
    margin-bottom: 1.5rem;
    padding-left: 26rem;;
}
